<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>#血流/glass_a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,35}</string>
                <key>spriteSourceSize</key>
                <string>{314,35}</string>
                <key>textureRect</key>
                <string>{{2005,681},{314,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>倒计时/中心点切图/time1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{468,467}</string>
                <key>textureRect</key>
                <string>{{1753,1916},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>反馈/反馈-按下.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,51}</string>
                <key>spriteSourceSize</key>
                <string>{408,51}</string>
                <key>textureRect</key>
                <string>{{1343,1916},{408,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>反馈/系统回复框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,181}</string>
                <key>spriteSourceSize</key>
                <string>{742,181}</string>
                <key>textureRect</key>
                <string>{{1283,1283},{742,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>房间入口-创建.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{411,155}</string>
                <key>spriteSourceSize</key>
                <string>{411,185}</string>
                <key>textureRect</key>
                <string>{{1887,1466},{411,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>房间字体颜色示意图.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,762},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/base_loser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,448}</string>
                <key>spriteSourceSize</key>
                <string>{270,448}</string>
                <key>textureRect</key>
                <string>{{1343,1466},{270,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/base_winner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,448}</string>
                <key>spriteSourceSize</key>
                <string>{270,448}</string>
                <key>textureRect</key>
                <string>{{1615,1466},{270,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/button_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{186,78}</string>
                <key>spriteSourceSize</key>
                <string>{192,86}</string>
                <key>textureRect</key>
                <string>{{1488,1969},{186,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/字体颜色示意图.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>玩家信息/coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{2005,1242},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家信息/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,4}</string>
                <key>spriteSourceSize</key>
                <string>{710,4}</string>
                <key>textureRect</key>
                <string>{{1,2030},{710,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家信息/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,43}</string>
                <key>spriteSourceSize</key>
                <string>{147,43}</string>
                <key>textureRect</key>
                <string>{{1887,1989},{147,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>用户栏-文字/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,475},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,611},{9,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{1887,2034},{13,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,492},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,509},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,526},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,543},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,560},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,577},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{2029,594},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>电量时间wifi/半电.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{38,18}</string>
                <key>textureRect</key>
                <string>{{2029,355},{38,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>电量时间wifi/没电.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{38,18}</string>
                <key>textureRect</key>
                <string>{{2029,395},{38,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>电量时间wifi/满电.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{38,18}</string>
                <key>textureRect</key>
                <string>{{2029,435},{38,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>示意图/字体颜色示意图.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,759}</string>
                <key>spriteSourceSize</key>
                <string>{1280,759}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,759}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>系统公告/button_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,32}</string>
                <key>spriteSourceSize</key>
                <string>{135,32}</string>
                <key>textureRect</key>
                <string>{{1343,1969},{135,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>结算/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1158,544}</string>
                <key>spriteSourceSize</key>
                <string>{1158,544}</string>
                <key>textureRect</key>
                <string>{{1,1484},{1158,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>结算/result_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{535,180}</string>
                <key>spriteSourceSize</key>
                <string>{539,180}</string>
                <key>textureRect</key>
                <string>{{1161,1484},{535,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>聊天/dialog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,27}</string>
                <key>spriteSourceSize</key>
                <string>{352,27}</string>
                <key>textureRect</key>
                <string>{{2005,1},{352,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>聊天/dialog4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,26}</string>
                <key>spriteSourceSize</key>
                <string>{325,26}</string>
                <key>textureRect</key>
                <string>{{1161,2021},{325,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景/table_corner4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,15}</string>
                <key>spriteSourceSize</key>
                <string>{164,15}</string>
                <key>textureRect</key>
                <string>{{713,2030},{164,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>菜单-分享.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{66,78}</string>
                <key>textureRect</key>
                <string>{{1676,1969},{66,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置/dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,22}</string>
                <key>spriteSourceSize</key>
                <string>{324,22}</string>
                <key>textureRect</key>
                <string>{{2005,355},{324,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>邮件/消息.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{98,46}</string>
                <key>textureRect</key>
                <string>{{2005,1144},{96,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>邮件/联系我们.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{145,42}</string>
                <key>spriteSourceSize</key>
                <string>{147,46}</string>
                <key>textureRect</key>
                <string>{{2005,997},{145,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>麻将牌/a玩家出牌_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{108,160}</string>
                <key>spriteSourceSize</key>
                <string>{108,174}</string>
                <key>textureRect</key>
                <string>{{1887,1879},{108,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f12ffc2b346349f9c4b15bb912ab2a9:f6bad427ecde9e0e347299f685b80c24:ba0f7a9905cf0ac1d9727bcdccb9ab15$</string>
            <key>textureFileName</key>
            <string>beimi-0.png</string>
        </dict>
    </dict>
</plist>
