<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>#血流/effect_a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{167,192}</string>
                <key>spriteSourceSize</key>
                <string>{201,218}</string>
                <key>textureRect</key>
                <string>{{1435,1880},{167,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/glass_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,32}</string>
                <key>spriteSourceSize</key>
                <string>{126,32}</string>
                <key>textureRect</key>
                <string>{{1993,1283},{126,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/glass_b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,32}</string>
                <key>spriteSourceSize</key>
                <string>{126,32}</string>
                <key>textureRect</key>
                <string>{{2000,1411},{126,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/glass_b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,32}</string>
                <key>spriteSourceSize</key>
                <string>{126,32}</string>
                <key>textureRect</key>
                <string>{{2000,1539},{126,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/glass_b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,32}</string>
                <key>spriteSourceSize</key>
                <string>{126,32}</string>
                <key>textureRect</key>
                <string>{{2000,1667},{126,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/glass_c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,59}</string>
                <key>spriteSourceSize</key>
                <string>{310,59}</string>
                <key>textureRect</key>
                <string>{{888,1953},{310,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{923,487}</string>
                <key>spriteSourceSize</key>
                <string>{923,487}</string>
                <key>textureRect</key>
                <string>{{1,1445},{923,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{253,109}</string>
                <key>spriteSourceSize</key>
                <string>{263,109}</string>
                <key>textureRect</key>
                <string>{{633,1934},{253,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒计时/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{1346,1419},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>倒计时/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{1380,1419},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>加入房间/text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,34}</string>
                <key>spriteSourceSize</key>
                <string>{220,34}</string>
                <key>textureRect</key>
                <string>{{1212,2009},{220,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吃碰杠/吃特效4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{189,212}</string>
                <key>spriteSourceSize</key>
                <string>{251,234}</string>
                <key>textureRect</key>
                <string>{{1812,1856},{189,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>吃碰杠/提示框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{708,134}</string>
                <key>spriteSourceSize</key>
                <string>{708,144}</string>
                <key>textureRect</key>
                <string>{{1283,1283},{708,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城/B0C49FAA-拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,54}</string>
                <key>spriteSourceSize</key>
                <string>{229,54}</string>
                <key>textureRect</key>
                <string>{{1200,1953},{229,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城/房卡（大）备份-拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,181}</string>
                <key>spriteSourceSize</key>
                <string>{163,181}</string>
                <key>textureRect</key>
                <string>{{1629,1880},{163,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商城/购买房卡请联系微信：jiumei091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,32}</string>
                <key>spriteSourceSize</key>
                <string>{420,32}</string>
                <key>textureRect</key>
                <string>{{2005,774},{420,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>房间入口-加入.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,198}</string>
                <key>spriteSourceSize</key>
                <string>{435,198}</string>
                <key>textureRect</key>
                <string>{{1800,1419},{435,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>排行榜-好友排行标题.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,33}</string>
                <key>spriteSourceSize</key>
                <string>{183,33}</string>
                <key>textureRect</key>
                <string>{{888,2014},{183,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,459}</string>
                <key>spriteSourceSize</key>
                <string>{363,459}</string>
                <key>textureRect</key>
                <string>{{1435,1419},{363,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-玩家底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,75}</string>
                <key>spriteSourceSize</key>
                <string>{332,75}</string>
                <key>textureRect</key>
                <string>{{1,1934},{332,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家信息/base_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,83}</string>
                <key>spriteSourceSize</key>
                <string>{296,83}</string>
                <key>textureRect</key>
                <string>{{335,1934},{296,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家信息/字体颜色示意图.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家头像/room_creater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{524,2019},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>电量时间wifi/wifi-拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{888,1934},{17,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>示意图/大厅-创建房间.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>示意图/送金币倒计时.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,26}</string>
                <key>spriteSourceSize</key>
                <string>{243,26}</string>
                <key>textureRect</key>
                <string>{{1,2011},{243,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,26}</string>
                <key>spriteSourceSize</key>
                <string>{189,26}</string>
                <key>textureRect</key>
                <string>{{333,2019},{189,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景/龙纹居中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,506}</string>
                <key>spriteSourceSize</key>
                <string>{507,506}</string>
                <key>textureRect</key>
                <string>{{926,1445},{507,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置/log_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,33}</string>
                <key>spriteSourceSize</key>
                <string>{137,33}</string>
                <key>textureRect</key>
                <string>{{1073,2014},{137,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置/music1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,35}</string>
                <key>spriteSourceSize</key>
                <string>{85,35}</string>
                <key>textureRect</key>
                <string>{{2005,1196},{85,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>设置/music2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,36}</string>
                <key>spriteSourceSize</key>
                <string>{85,36}</string>
                <key>textureRect</key>
                <string>{{246,2011},{85,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>跑马灯-底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,41}</string>
                <key>spriteSourceSize</key>
                <string>{771,41}</string>
                <key>textureRect</key>
                <string>{{2005,1},{771,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>麻将牌/侧家手牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{24,61}</string>
                <key>spriteSourceSize</key>
                <string>{24,63}</string>
                <key>textureRect</key>
                <string>{{1283,1419},{24,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>麻将牌/侧家杠牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{2000,1795},{52,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f12ffc2b346349f9c4b15bb912ab2a9:f6bad427ecde9e0e347299f685b80c24:ba0f7a9905cf0ac1d9727bcdccb9ab15$</string>
            <key>textureFileName</key>
            <string>beimi-1.png</string>
        </dict>
    </dict>
</plist>
