<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>#按钮/big_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,32}</string>
                <key>spriteSourceSize</key>
                <string>{83,32}</string>
                <key>textureRect</key>
                <string>{{2006,1878},{83,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#按钮/small_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{75,32}</string>
                <key>textureRect</key>
                <string>{{166,2003},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>#按钮/small_update.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{76,31}</string>
                <key>textureRect</key>
                <string>{{369,2016},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>#血流/Y4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{98,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{1280,2009},{98,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>#血流/Z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{1962,1283},{128,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/Z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{120,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{619,2000},{120,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>#血流/Z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{110,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{860,2004},{110,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>#血流/Z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{98,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{1380,2009},{98,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,41}</string>
                <key>spriteSourceSize</key>
                <string>{161,41}</string>
                <key>textureRect</key>
                <string>{{2006,1229},{161,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,41}</string>
                <key>spriteSourceSize</key>
                <string>{161,41}</string>
                <key>textureRect</key>
                <string>{{2006,1392},{161,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>base1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{871,504}</string>
                <key>spriteSourceSize</key>
                <string>{871,504}</string>
                <key>textureRect</key>
                <string>{{897,1445},{871,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{894,497}</string>
                <key>spriteSourceSize</key>
                <string>{894,497}</string>
                <key>textureRect</key>
                <string>{{1,1445},{894,497}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>room_numbers2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{1952,1831},{128,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>倒计时/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{519,1983},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>倒计时/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{553,1983},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>分享/button1_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,32}</string>
                <key>spriteSourceSize</key>
                <string>{117,32}</string>
                <key>textureRect</key>
                <string>{{741,2000},{117,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享/button2_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{1178,2009},{100,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享/content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,29}</string>
                <key>spriteSourceSize</key>
                <string>{310,29}</string>
                <key>textureRect</key>
                <string>{{1,1944},{310,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>反馈/发送_小.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{76,31}</string>
                <key>textureRect</key>
                <string>{{447,2016},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>反馈/玩家反馈框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,143}</string>
                <key>spriteSourceSize</key>
                <string>{677,143}</string>
                <key>textureRect</key>
                <string>{{1283,1283},{677,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>反馈/答复-按下.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,52}</string>
                <key>spriteSourceSize</key>
                <string>{401,52}</string>
                <key>textureRect</key>
                <string>{{1952,1428},{401,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>吃碰杠/提示_吃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1837,1965},{82,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>吃碰杠/提示_胡.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1923,1965},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吃碰杠/自摸特效1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,-7}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{306,192}</string>
                <key>textureRect</key>
                <string>{{309,1983},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>排行榜-创建好友房标题.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,31}</string>
                <key>spriteSourceSize</key>
                <string>{148,31}</string>
                <key>textureRect</key>
                <string>{{369,1983},{148,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/result1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{101,40}</string>
                <key>textureRect</key>
                <string>{{972,2004},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/result2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{101,40}</string>
                <key>textureRect</key>
                <string>{{1075,2004},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家信息/base_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,51}</string>
                <key>spriteSourceSize</key>
                <string>{296,51}</string>
                <key>textureRect</key>
                <string>{{883,1951},{296,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>用户栏-房卡底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,30}</string>
                <key>spriteSourceSize</key>
                <string>{167,30}</string>
                <key>textureRect</key>
                <string>{{2006,1555},{167,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-金币底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,30}</string>
                <key>spriteSourceSize</key>
                <string>{152,30}</string>
                <key>textureRect</key>
                <string>{{2006,1724},{152,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>系统公告/subtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,37}</string>
                <key>spriteSourceSize</key>
                <string>{301,37}</string>
                <key>textureRect</key>
                <string>{{313,1944},{301,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>系统公告/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,44}</string>
                <key>spriteSourceSize</key>
                <string>{163,44}</string>
                <key>textureRect</key>
                <string>{{1,2003},{163,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>结算/a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,38}</string>
                <key>spriteSourceSize</key>
                <string>{92,38}</string>
                <key>textureRect</key>
                <string>{{525,2009},{92,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>结算/result_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{535,180}</string>
                <key>spriteSourceSize</key>
                <string>{539,180}</string>
                <key>textureRect</key>
                <string>{{1770,1428},{535,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>结算/字体颜色示意图.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,27}</string>
                <key>spriteSourceSize</key>
                <string>{270,27}</string>
                <key>textureRect</key>
                <string>{{1482,1951},{270,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,26}</string>
                <key>spriteSourceSize</key>
                <string>{244,26}</string>
                <key>textureRect</key>
                <string>{{1482,1980},{244,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,26}</string>
                <key>spriteSourceSize</key>
                <string>{241,26}</string>
                <key>textureRect</key>
                <string>{{1,1975},{241,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,27}</string>
                <key>spriteSourceSize</key>
                <string>{326,27}</string>
                <key>textureRect</key>
                <string>{{2005,575},{326,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>聊天/dialog7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,27}</string>
                <key>spriteSourceSize</key>
                <string>{299,27}</string>
                <key>textureRect</key>
                <string>{{1181,1951},{299,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,27}</string>
                <key>spriteSourceSize</key>
                <string>{299,27}</string>
                <key>textureRect</key>
                <string>{{1181,1980},{299,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,26}</string>
                <key>spriteSourceSize</key>
                <string>{244,26}</string>
                <key>textureRect</key>
                <string>{{1482,2008},{244,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,4}</string>
                <key>spriteSourceSize</key>
                <string>{355,4}</string>
                <key>textureRect</key>
                <string>{{1283,1428},{355,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,54}</string>
                <key>spriteSourceSize</key>
                <string>{265,54}</string>
                <key>textureRect</key>
                <string>{{616,1944},{265,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景/背景可随意拉伸铺满.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背景1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>菜单-邮件.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{244,1975},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,22}</string>
                <key>spriteSourceSize</key>
                <string>{324,22}</string>
                <key>textureRect</key>
                <string>{{2005,903},{324,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>邮件/content2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,37}</string>
                <key>spriteSourceSize</key>
                <string>{572,37}</string>
                <key>textureRect</key>
                <string>{{2005,1},{572,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>麻将牌/对家杠牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,61}</string>
                <key>spriteSourceSize</key>
                <string>{39,61}</string>
                <key>textureRect</key>
                <string>{{2007,1963},{39,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>麻将牌/牌面/suo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{67,107}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{1728,1980},{67,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f12ffc2b346349f9c4b15bb912ab2a9:f6bad427ecde9e0e347299f685b80c24:ba0f7a9905cf0ac1d9727bcdccb9ab15$</string>
            <key>textureFileName</key>
            <string>beimi-3.png</string>
        </dict>
    </dict>
</plist>
