<div class="layui-side layui-bg-black layui-left-black">
	<div class="layui-side-scroll">
		<div class="row">
	<div class="col-lg-12">
		<h1 class="site-h1">
			工作绩效（2017-08-02）
		</h1>
		<div class="box ukefu-console" style="padding-top:0px !important;">
			<img src="/images/bg.jpg"
				alt="admin">
			<div class="ukefu-user-index">
				<h1>
					admin（系统管理员）
				  	<span style="color:#c00;">
				  	</span>
				</h1>
				<div class="ukefu-join-time ukefu-text-muted">
                                                                      登录时间：20:27:58
				</div>
			</div>
		</div>
		<div class="box ukefu-console">
			<div class="ukefu-relation">
				<span lay-event="" class="ukefu-relation-item">会话<a
					href="/service/current/index.html"
					class="measure"> 2 </a>
				</span> <span lay-event="" class="ukefu-relation-item">邀请<a
					href="/apps/onlineuser.html"
					class="measure"> 1 </a>
				</span> <span lay-event="" class="ukefu-relation-item">拒绝<a
					href="/apps/onlineuser.html"
					class="measure" > 0 </a>
				</span>
			</div>
		</div>
		<div class="box ukefu-console">
			<div class="ukefu-relation">
				<span lay-event="" class="ukefu-relation-item" style="width:20%;">已接待<a
					href="/service/history/index.html"
					class="measure"> 14 </a>
				</span>
				<span class="ukefu-relation-item" style="width:55%;">平均会话时长
					<a
						href="/service/history/index.html"
						class="measure"> 00:22:54</a>
				</span> 
			</div>
		</div>
	</div>
</div>	
<div class="row">
	<div class="col-lg-12"  style="padding:5px;border-top: 5px solid #e6e6e6;">
		<div class="layui-tab layui-tab-brief ukefu-webim-tab" lay-filter="docDemoTabBrief">
		  <ul class="layui-tab-title">
			<li class="layui-this"><i class="layui-icon">&#xe631;</i></li>
			<!-- 
			<li><i class="kfont">&#xe604;</i></li>
			<li><i class="layui-icon">&#xe615;</i></li>
			 -->
		  </ul>
		  <div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<ul class="ukewo-btn-group">
					<li class="layui-this">
						<a href="/apps/content.html" class="ukefu-bt">
							<i class="kfont ukewo-btn">&#xe717;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
									首页
								</div>
								<div class="ukefu-bt-text-content" style="">
									在线的访客详细信息
								</div>
							</div>
						</a>
					</li>
					<li >
						<a href="/apps/onlineuser.html" class="ukefu-bt">
							<i class="layui-icon ukewo-btn">&#xe612;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
									在线访客
								</div>
								<div class="ukefu-bt-text-content" style="">
									在线的访客详细信息
								</div>
							</div>
						</a>
					</li>
					<!-- 
					<li>
						<a href="" class="ukefu-bt">
							<i class="kfont ukewo-btn ukefu-bg-color-deep-blue">&#xe7eb;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
									对话历史
								</div>
								<div class="ukefu-bt-text-content" style="">
									当前客服与访客的对话历史记录
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="ukefu-bt">
							<i class="kfont ukewo-btn ukefu-bg-color-pink">&#xe634;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
									我的收件箱
								</div>
								<div class="ukefu-bt-text-content" style="">
									消息、任务、提醒收件箱
								</div>
							</div>
						</a>
					</li>
					 -->
				</ul>
			</div>
		  </div>
		</div>
	</div>
</div>		</div>
</div>
<div class="layui-body">
	<div class="layui-side-scroll">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="site-h1">
					在线客服业务概况
				</h1>
				<div class="row">
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="/apps/onlineuser.html" class="ukefu-bt"> 
								<i class="layui-icon ukewo-btn ukefu-measure-btn">&#xe612;</i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:19px;">0/0</div>
									<div class="ukefu-bt-text-content" style="">访客：已邀请/已拒绝</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="/service/agent/index.html" class="ukefu-bt"> 
								<i class="kfont icon-iconfontagent ukewo-btn ukefu-measure-btn ukefu-bg-color-yellow"></i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:19px;">1/2</div>
									<div class="ukefu-bt-text-content" style="">坐席:在线/全部</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="/service/quene/index.html" class="ukefu-bt"> 
								<i class="layui-icon ukewo-btn ukefu-measure-btn ukefu-bg-color-pink">&#xe63a;</i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:19px;">1/0</div>
									<div class="ukefu-bt-text-content" style="">会话：服务/排队</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="/apps/onlineuser.html" class="ukefu-bt"> 
								<i class="layui-icon ukewo-btn ukefu-measure-btn ukefu-bg-color-green">&#xe62c;</i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:19px;">142/244</div>
									<div class="ukefu-bt-text-content" style="">统计:IP/PV</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="site-h1" style="border-top:1px solid #e6e6e6;margin-top:15px;">
					当前在线用户列表（0）
				</h1>
				<table class="layui-table" lay-skin="line">
					<thead>
						<tr class="design-sortable-tr">
							<th>用户名</th>
							<th>终端</th>
							<th>操作系统</th>
							<th>浏览器</th>
							<th>访问时间</th>
							<th>停留时间</th>
							<th>地域</th>
							<th>邀请</th>
							<th>拒绝</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td colspan="20" style="height:400px;">
									<div class="ukefu-empty">
										<i class="layui-icon">&#xe63a;</i>
										<div style="">还没有在线访客记录</div>
									</div>
								</td>
							</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div class="row" style="padding:5px;">
			<div class="col-lg-12" id="page" style="text-align:center;"></div>
		</div>
	</div>
</div>

<script>
	layui.use(['laypage', 'layer'], function(){
		  var laypage = layui.laypage
		  ,layer = layui.layer;
		  
		  laypage({
				cont: 'page'
				,pages: 0 //总页数
				,curr:1
				,groups: 5 //连续显示分页数
				,jump:function(data , first){
					if(!first){
						location.href = "/apps/onlineuser.html?p="+data.curr ;
					}
				}
		   });
		});
</script>